*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Temporary and preview files
/temp_repo
/node_modules
/dist
/src
/index.html
/package.json
/package-lock.json
/tsconfig.json
/vite.config.ts
*.ts
*.js

